# Python Bytecode
*.py[co]
__pycache__

# DB Files
src/core/sqlite3.db
src/core/db.sqlite3

# Settings
src/core/settings/local.py

# Static
var/www/*

# Coverage
.coverage
.coverage_html

# Logs
var/log/*

# NPM
node_modules/
