<div class="page-header">
    <h1>Django-Angular-Base <small>Starting Point for Dynamic Django Applications</small></h1>
</div>

<p class="lead">
    The <strong>Django-Angular-Base</strong> template provides a solid start
    to a standard implementation of a Django powered API application using
    AngularJS to handle the frontend magic.
</p>

<p>
    When developing Django applications nowadays, one of the biggest downsides
    is that making them dynamic can be a pain. With all the new JavaScript
    frameworks available, I needed a solid starting point to build new
    projects from this. This is why this project exists. With this structure,
    we can easily build Django applications with an AngularJS frontend. It
    provides out of the box frontend Authentication and gives a solid
    foundation for building additional apps and interfaces into it.
</p>

<p>
    As well, it provides a server setup for easy deployment and management
    from a local filesystem. For a list of all the expected technology, check
    these out:
</p>

<ul class="list-group">
    <li class="list-group-item">Django 1.7.3</li>
    <li class="list-group-item">Django Rest Framework 3.0</li>
    <li class="list-group-item">AngularJS 1.3</li>
    <li class="list-group-item">Bootstrap 3.3</li>
    <li class="list-group-item">CoffeeScript 1.8.0</li>
    <li class="list-group-item">SASS 3.4.10</li>
    <li class="list-group-item">UI-Router</li>
    <li class="list-group-item">UI-Bootstrap</li>
    <li class="list-group-item">Gulp</li>
    <li class="list-group-item">Fabric</li>
    <li class="list-group-item">NGINX</li>
    <li class="list-group-item">uWSGI</li>
    <li class="list-group-item">Supervisor</li>
</ul>
